# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
*.tsbuildinfo

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
tsconfig.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo
*~

# GameMaker specific (legacy)
_Debug/
Compiled/
AudioCache/
_OpenInEditor.lock
Game.agf.user
*.crm.user
Game.agf.bak
backup_acsprset.spr
*.dmp
~aclzw.tmp
game28.dta
*.exe
warnings.log
