@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  :root {
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --foreground-rgb: 0, 0, 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-start-rgb: 17, 17, 17;
      --background-end-rgb: 0, 0, 0;
      --foreground-rgb: 255, 255, 255;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
